@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.sidebar {
  padding: 10px;
  width: 250px;
  background-color: rgb(23, 23, 23);
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

svg {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.sidebar-nav {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar.visible {
  transform: translateX(0);
}

.chats {
  margin-top: auto;
  display: block;
}

.recent-heading {
  padding: 10px;
}

.menu p {
  font-size: 14px;
  font-weight: 400;
}

.menu-item {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  padding: 10px 10px;
}

.menu-item:hover {
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
  cursor: pointer;
}

.bottom-nav {
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  padding: 10px;
}

.upgrade-info {
  font-size: 14px;
}

.bottom-nav:hover {
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
  cursor: pointer;
}

.upgrade-description {
  margin-top: 3px;
  opacity: 0.5;
  font-size: 11.5px;
}
